<div class="posts">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-item">
        <%= post.id %>
        <%= post.content %>
      </div>
    <% end %>
  </div>
</div>