.menu-item {
    float: left;
    line-height: 16px;
    font-size: 13px;
    padding: auto;
    margin: 0px 20px;
}

body {
    float: left;
}

.posts-item {
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
}